
.phone {
    top:50%;
    left: 50%;
    transform: translate3d(-50%,-50%, 0);
    position: absolute;
}

.hm {
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    cursor: pointer;
}

.hm_lbl {
    font-family: sans-serif;
    font-size: xx-large;
}

.hm_map {
    background: rgb(60, 120, 216);
    float: left;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.hm_locations {
    background: rgb(60, 120, 216);
    float: right;
    border-bottom: 1px solid black;
}

.hm_emergency {
    background: rgb(204, 0, 0);
    float: left;
    border-right: 1px solid black;
}

.hm_settings {
    background: rgb(60, 120, 216);
    float: right;
}

.page-banner {
    background: rgb(99, 210, 151);
    height: 10%;
    border-bottom: 1px solid black;
    display: inline-block;
    box-sizing: border-box;
}

.section-title {
    font-size: x-large;
    color: black;
    display: inline-block;
    padding-top: 15px;
}

.banner-icon {
    padding-top: 5px;
}

.page {
    background: rgb(201, 218, 248);
    height: 90%;
}

.map {
    background: #CCC;
    height: 80%;
    width: 100%;
}

.map-links {
	border-top: 1px solid black;
	box-sizing: border-box;
    background: rgb(201, 218, 248);
    height: 20%;
    width: 100%;
}

.map-links-idv {
	cursor: pointer;
    color: black;
    float: left;
    width: 33.33333333%;
}

.button {
    background: rgb(60, 120, 216);
    cursor: pointer;
}

.left {
    float: left;
    width: 25%;
    height: 100%;
    border-right: 1px solid black;
}

.right {
    float: right;
    width: 25%;
    height: 100%;
    border-left: 1px solid black;
    onclick: window.location='home.html';
}

.emergency{
    width: 85%;
    height: 10%;
    text-align: left;
    text-indent: 3%;
    vertical-align: middle;
    margin-top: 5%;    
    margin-left: 7.5%;
    padding-top: 10%;
    cursor: pointer;
}

.contact{
    margin-top: 0px;
    padding-top: 3%;
    float: left;    
}

.directions{
    width: 70%;
    height: 80%;
    margin-top: 1%;
    padding-top: 3%;
    vertical-align: middle;
}
.hospitals{
    background: rgb(60, 120, 216);
    float: left;
    font-family: sans-serif;
    font-size: large;
    border: 1px solid black;
}

.nineoneone{
    background: rgb(256, 0, 0);
    float: left;
    font-family: sans-serif;
    font-size: large;
    margin-top: 50px;
    border: 1px solid black;
}
.anchor {
    cursor: pointer;
}
