
.phone {
    top:50%;
    left: 50%;
    transform: translate3d(-50%,-50%, 0);
    position: absolute;
}

.hm {
    width: 50%;
    height: 50%;
    box-sizing: border-box;
}

.hm_lbl {
    font-family: sans-serif;
    font-size: xx-large;
}

.hm_map {
    background: rgb(60, 120, 216);
    float: left;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.hm_locations {
    background: rgb(60, 120, 216);
    float: right;
    border-bottom: 1px solid black;
}

.hm_emergency {
    background: rgb(204, 0, 0);
    float: left;
    border-right: 1px solid black;
}

.hm_settings {
    background: rgb(60, 120, 216);
    float: right;
}

.page-banner {
    background: rgb(99, 210, 151);
    height: 10%;
    border-bottom: 1px solid black;
}

label.banner {
    font-size: x-large;
    color: black;
}

.banner-icon {
    padding-top: 5px;
}

.page {
    background: rgb(201, 218, 248);
    height: 90%;
}

.button {
    background: rgb(60, 120, 216);
    cursor: pointer;
}

.left {
    float: left;
    width: 25%;
    height: 100%;
    border-right: 1px solid black;
}

.right {
    float: right;
    width: 25%;
    height: 100%;
    border-left: 1px solid black;
    onclick: window.location='home.html';
}

.anchor {
    cursor: pointer;
}
